@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{ 
    font-family: sans-serif;
    margin: 15px;;
    text-align: center;
  }

  .header {
        display: flex;
        min-height: 70px;
        justify-content:space-between;
        align-items: center;
        padding: 100px;
    }

    .logo{
      width: 150px;
      height: 120px;
      justify-content: space-between;
      display: flex;
      position: absolute;
      margin-top: 100;
    }

    .h1{
     color: black;
     margin: 25rem auto;
     width: 60px;
     height: 300px;
     display: flex;
     justify-content: space-around;
    }

    .argprograma img{
        height: 50px;
        margin-left: 0px;
        width: 35px;
    }
    
  
  nav a{
    display: inline-block;
    text-decoration: none;
    color: blueviolet;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
  }
  nav a:hover {
    background-color: rgb(139, 105, 139);
    color: rgb(36, 7, 63);
  }


    .btn-slide{
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      color: rgb(189, 103, 117);
      letter-spacing: 4px;
      font-size: 14px;
      text-decoration: none;
      overflow: hidden;
      transition: 0.2s;
      border-radius: 20px;
    }
    .btn-slide:hover{
      background:rgb(155, 102, 161) ;
      box-shadow: 0 0 10px rgb(155,102,161), 0 0 40 px
      rgb(155,102,161), 0 0 80px rgb(155,102,161);
    }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
  }
  .contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}